<h1>7-Day Forecast for <%= @location.name %></h1>

<% if @weather_data %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>High</th>
        <th>Low</th>
      </tr>
    </thead>
    <tbody>
      <% @weather_data.each do |daily_data| %>
        <tr>
          <td><%= Time.at(daily_data["time"].to_i).strftime("%Y-%m-%d") %></td>
          <td><%= daily_data["temperature_2m_max"].to_s %>°C</td>
          <td><%= daily_data["temperature_2m_min"].to_s %>°C</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No weather data available</p>
<% end %>
